
/* Estilos da lista de comandas */
.orders-list {
    display: flex; /* Habilita o layout flexível */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte se não houver espaço */
    justify-content: center; /* Centraliza os itens na linha */
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão */
    font-size: 20px; /* Tamanho da fonte do título */
}

/* Estilo de cada item da lista */
.orders-list li {
    background-color: #4d4c4c; /* Cor de fundo leve */
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 15px; /* Espaçamento interno */
    margin: 10px; /* Espaçamento entre os itens */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

/* Efeito ao passar o mouse */
.orders-list li:hover {
    background-color: #0f0f0f;
    color: #ffffff; /* Cor do texto */
}

/* Botão Iniciar Nova Venda */
.start-sale {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #252525; /* texto escuro */
    background-color: #FFD700; /* fundo dourado */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.start-sale:hover {
    transform: scale(1.1); /* aumenta 10% do tamanho */
}

/* Efeito clique */
.start-sale:active {
    transform: scale(1); /* volta ao tamanho original */
}